<app-header></app-header>
<div class="content-body">

  <div class="container-fluid" style="margin-top: 50px;">
    <div class="card">
      <div class="card-body d-flex">
        <div class="mission-info">
          <h1 class="card-title">Mission 1</h1>
          <p>Nom: Lion</p>
          <p>Date: 12/10/2023</p>
          <p>Heure de début: 11.20.00</p>
          <p>Durée totale: 5 H</p>
        </div>
        <div class="mission-table">
          <table class="table">
            <thead>
              <tr>
                <th>Intervenant</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Flen</td>
                <td><a href="#" class="btn eye"><i class="fas fa-eye"></i></a></td>
              </tr>
              <tr>
                <td>Foulen</td>
                <td><a href="#" class="btn eye"><i class="fas fa-eye"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="row" style="margin-left: 300px;">
        <!-- Nombre d'équipement utilisés -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h4 class="mb-0 text-black">Nombre d'équipement utilisées</h4>
            </div>
            <div>
              <canvas id="equipement" width="400" height="400"></canvas>
            </div>
          </div>
        </div>


        <!-- Taux de réussite -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header border-0 pb-0">
                <h5 class="fs-20 mb-0 text-black">Taux de Réussite</h5>
            </div>
            <div class="card-body text-center pb-0 px-2 pt-2">
              <canvas id="missionSuccessFailureChart" width="400" height="400"></canvas>


            </div>
        </div>
        </div>
      </div>
    </div>



  </div>
</div>
