<!---Body-->
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header d-block border-0 pb-0">
              <div class="d-flex justify-content-between pb-3">
                <h4 class="mb-0 text-black fs-20">Intervenant 1</h4>
              </div>
            </div>
            <canvas #heartRateChart id="heartRateChart" width="200" height="80"></canvas>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header d-block border-0 pb-0">
              <div class="d-flex justify-content-between pb-3">
                <h4 class="mb-0 text-black fs-20">Intervenant 2</h4>
              </div>
            </div>
            <canvas #heartRateChart2 id="heartRateChart2" width="200" height="80"></canvas>
                    </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header d-block border-0 pb-0">
              <div class="d-flex justify-content-between pb-3">
                <h4 class="mb-0 text-black fs-20">Intervenant 3</h4>
              </div>
            </div>
            <canvas #heartRateChart3 id="heartRateChart3" width="200" height="80"></canvas>
                    </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-xxl-6 col-sm-6">
            <div id="map2" style="width:650px; height:430px;margin-right: 10px;"></div>
          </div>
          <div class="col-xl-6 col-xxl-6 col-sm-6 ">
            <img src="../../../../assets/missiondirect.jpg" style="width:700px; height:430px;">
            </div>


      </div>


    </div>


  </div>
</div>

